body{
    background-color:darkgrey;
}

header{
   color:brown;
   font-size: 44px; 
}

main {
    background-color: darkgrey(245, 227, 224);
    width: 960px;
    margin: 50px auto 50px auto;
    padding: 50px;
    border-radius: 30px;
}

img{
    width: 100;
    max-width: 800px;
    margin: 0 auto 0 auto;
    display: block;
}